@page "/counter"
@rendermode InteractiveWebAssembly
@inject HttpClient client

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p>Current item: @item?.Name</p>
<img src="@item?.Image?.ImageUrl" alt="item" class="w-100 h-100" />

<p>
    @item?.Image?.ImageUrl
</p>


@code {

    private WardrobeItem? item;
    protected override async Task OnInitializedAsync()
    {
        item = await GetItem();
    }

    private async Task<WardrobeItem?> GetItem()
    {
        return await client.GetFromJsonAsync<WardrobeItem>($"https://localhost:7103/api/wardrobe/item/{17}");
    }

}
