@page "/"
@using Wardrobe.BBualdo.Models
@using Wardrobe.BBualdo.Services
@inject IWardrobeService wardrobeService;
@rendermode InteractiveServer

<PageTitle>Wardrobe Inventory</PageTitle>

<div class="container">
  <div class="container__header">
    <button @onclick="OpenDialog" class="btn btn-primary">Add Cloth</button>
  </div>
  <div class="wardrobe__container">
    <WardrobeList Clothes="Clothes" />
  </div>
</div>

<Dialog Title="Add Cloth" IsOpened="DisplayDialog" CloseButtonClicked="() => DisplayDialog = false">
  <DialogBody>
    <AddClothForm CloseButtonClicked="() => DisplayDialog = false" OnClothAdd="RefreshClothes" />
  </DialogBody>
</Dialog>

@code {
  private bool DisplayDialog;
  public List<Cloth>? Clothes { get; set; }

  private void OpenDialog()
  {
    DisplayDialog = true;
  }

  protected override async Task OnInitializedAsync()
  {
    Clothes = await wardrobeService.GetClothes();
  }

  private async Task RefreshClothes()
  {
    Clothes = await wardrobeService.GetClothes();
  }
}