<nav class="navbar border-bottom border-body py-3" data-bs-theme="dark">
    <div class="container">
        <NavLink class="navbar-brand text-white" href="">
            Wardrobe Inventory
        </NavLink>

        <div class="d-flex gap-2">
            <div class="btn-group">
                <a class="btn btn-outline-secondary" href="https://www.linkedin.com/in/chris-carter-1495801aa/" target="_blank" rel="noreferrer" role="button" aria-label="LinkedIn">
                    <LinkedInSvg />
                </a>
                <a class="btn btn-outline-secondary" href="https://github.com/chrisjamiecarter/" target="_blank" rel="noreferrer" role="button" aria-label="Github">
                    <GitHubSvg />
                </a>
            </div>
        </div>
    </div>
</nav>

@code {
}
