@inherits LayoutComponentBase

<div class="flex flex-col min-h-screen max-w-full m-0">
    <div class="flex flex-grow">
        <div class="w-36">
            @* <div class="text-2xl font-bold">Wardrobe Manager</div> *@
            <div class="bg-white ">
                <NavMenu />
            </div>
        </div>
        <main class="flex-grow bg-gradient-to-tl from-slate-100 to-indigo-500">
            <div class="px-8 py-8 my-4 mx-4 h-[95%] rounded bg-white">
                @Body
            </div>
        </main>
    </div>
    @* <div class="bg-orange-100">Footer</div> *@
</div>
