@inject NavigationManager NavigationManager
@implements IDisposable

<nav class=" text-lg flex flex-col items-center justify-center font-sans">
    <div
        class="@(IsActive("") ? "bg-indigo-500 text-white font-semibold" : "bg-white") w-full hover:bg-indigo-500 hover:text-white transition-all py-4 mx-auto text-center">
        <NavLink class="py-2" href="">
            <div class="" aria-hidden="true">Home</div>
        </NavLink>
    </div>
    <div
        class="@(IsActive("closet") ? "bg-indigo-500 text-white font-semibold" : "bg-white") hover:bg-indigo-500 hover:text-white transition-all w-full py-4 mx-auto text-center">
        <NavLink class="py-2" href="closet">
            <span class="" aria-hidden="true">Closet</span>
        </NavLink>
    </div>
</nav>



@code
{
    private bool collapseNavMenu = true;
    private string? currentUri;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void OnLocationChanged(object sender, LocationChangedEventArgs e)
    {
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

    private bool IsActive(string href)
    {
        var currentUri = NavigationManager.Uri;
        var absoluteUri = NavigationManager.ToAbsoluteUri(href);

        if (href == "")
        {
            // Special case for home page
            return currentUri == NavigationManager.BaseUri;
        }

        return currentUri.StartsWith(absoluteUri.ToString(), StringComparison.OrdinalIgnoreCase);
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
