@page "/"

<PageTitle>Home</PageTitle>

<div class="mx-auto h-full md:w-11/12 text-center flex flex-col gap-8 justify-center">
    <h1 class="text-6xl font-bold">Wardrobe Inventory</h1>

    <div>Manage Your clothes like <span class="italic font-bold underline">never before!</span></div>

    <a href="/closet"><button
            class="transition bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded">Take Me To
            The Closet</button></a>
</div>