@using Wardrobe.BBualdo.Enums
@using Wardrobe.BBualdo.Models
@using Wardrobe.BBualdo.Services
@inject IWardrobeService wardrobeService
@inject IFilesService filesService

<EditForm Model="NewCloth" OnValidSubmit="AddCloth" FormName="EditCloth" class="form">
    <DataAnnotationsValidator />
    <div class="form-fields">
        <div class="form-field">
            <label for="name">Name</label>
            <InputText id="name" @bind-Value="NewCloth!.Name" class="input" />
            <ValidationMessage For="() => NewCloth.Name" class="validation-message" />
        </div>
        <div class="form-field">
            <label for="category">Category</label>
            <InputSelect id="category" @bind-Value="NewCloth!.Category" class="input" >
                @foreach (var category in Enum.GetValues<Categories>())
                {
                    <option value="@category">@category</option>
                }
            </InputSelect>
        </div>
        <div class="form-field">
            <label for="size">Size</label>
            <InputSelect id="size" @bind-Value="NewCloth!.Size" class="input" >
                @foreach (var size in Enum.GetValues<Sizes>())
                {
                    <option value="@size">@size</option>
                }
            </InputSelect>
        </div>
        <div class="form-field">
            <label for="color">Color</label>
            <InputText id="color" @bind-Value="NewCloth!.Color" class="input" />
            <ValidationMessage For="() => NewCloth.Color" class="validation-message" />
        </div>
        <div class="form-field">
            <label for="brand">Brand</label>
            <InputText id="brand" @bind-Value="NewCloth!.Brand" class="input" />
            <ValidationMessage For="() => NewCloth.Brand" class="validation-message" />
        </div>
        <div class="form-field">
            <label for="image">Image</label>
            <InputFile OnChange="LoadFile" id="image" @bind-Value="NewCloth.ImagePath" class="input" />
        </div>
    </div>
    <div class="action__buttons">
        <button type="button" @onclick="CloseDialog" class="btn btn-secondary">Cancel</button>
        <button class="btn btn-primary">Add</button>
    </div>
</EditForm>

@code {
    [Parameter] public EventCallback CloseButtonClicked { get; set; }
    [Parameter] public EventCallback OnClothAdd { get; set; }
    private IBrowserFile? _file;

    public NewClothDto NewCloth { get; set; } = new()
    {
        Name = string.Empty,
        Brand = string.Empty,
        Category = Categories.Top.ToString(),
        Color = string.Empty,
        Size = Sizes.M.ToString(),
        ImagePath = string.Empty
    };

    private void LoadFile(InputFileChangeEventArgs e)
    {
        _file = e.File;
    }

    private void CloseDialog()
    {
        CloseButtonClicked.InvokeAsync();
    }

    private async Task AddCloth()
    {
        string relativePath = await filesService.CaptureFile(_file);
        NewCloth.ImagePath = relativePath;
        await wardrobeService.AddCloth(NewCloth);
        await OnClothAdd.InvokeAsync();
        CloseDialog();
    }
}